.main-btn {
    position: relative;
      display: block;
      background-color: $base-color;
      border: 1px solid $text-color;
      border-radius: 25px;
      font-weight: 600;
      padding: 12px 60px;
      margin: 10px auto;
      cursor: pointer;
      transition: all 0.3s;
      color: $cBlack;
      text-decoration: none !important;
    
    &.float:hover {
      background-color: $text-color;
      color: $cWhite;
      box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
    }
  
    &.float::before {
      position: absolute;
      content: "";
      border-bottom: 1px solid $text-color;
      border-right: 1px solid $text-color;
      width: 12px;
      height: 12px;
      top: 14px;
      right: 20px;
      transform: rotate(-45deg);
      }
  
    &.filled {
      background-color: $dark-accent-color;
      color: $base-color;
      box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
  
      &:hover {
        background-color: $cWhite;
        color: $cBlack;
        box-shadow: none;
      }
    }
  
    &.letter-spacing:hover {
      background-color: $cBlack;
      letter-spacing: 3px;
      color: $cWhite;
    }
  
    &.shadow {
      box-shadow: none;
  
      &:hover {
        transform: translate(-2.5px, -2.5px);
        box-shadow: 5px 5px 0 0 $cBlack;
      }
    }
  
    &.solid {
      box-shadow: 2px 2px 0 0 $cBlack;
      border-radius: 7px;
  
      &:hover {
        transform: translate(2px, 2px);
        box-shadow: none;
      }
    }
  }

.sub-btn {
  position: relative;
  float: right;
  background-color: $base-color;
  border: 1px solid $text-color;
  border-radius: 25px;
  font-weight: 600;
  padding: 8px 60px;
  cursor: pointer;
  transition: all 0.3s;
  color: $cBlack;
  text-decoration: none !important;
  
  &.float:hover {
    background-color: $text-color;
    color: $cWhite;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
  }

  &.float::before {
    position: absolute;
    content: "";
    border-bottom: 1px solid $text-color;
    border-right: 1px solid $text-color;
    width: 12px;
    height: 12px;
    top: 14px;
    right: 20px;
    transform: rotate(-45deg);
    }

  &.filled {
    background-color: $dark-accent-color;
    color: $base-color;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);

    &:hover {
      background-color: $cWhite;
      color: $cBlack;
      box-shadow: none;
    }
  }

  &.letter-spacing:hover {
    background-color: $cBlack;
    letter-spacing: 3px;
    color: $cWhite;
  }

  &.shadow {
    box-shadow: none;

    &:hover {
      transform: translate(-2.5px, -2.5px);
      box-shadow: 5px 5px 0 0 $cBlack;
    }
  }

  &.solid {
    box-shadow: 2px 2px 0 0 $cBlack;
    border-radius: 7px;

    &:hover {
      transform: translate(2px, 2px);
      box-shadow: none;
    }
  }
}