$cWhite: white;
$cBlack: black;
$cSubTitle: #535353;

$base-color: #F4F8F6;
$main-color: #D5AC65;
$light-accent-color: #807991;
$dark-accent-color :#AF3D52;
$text-color: #707070;
$dark-text: #261B27;

$contentMaxWidth: 1448px;

$navHeight: 100px;